* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.white {
    background-color: white;
    width: auto;
    padding: 10px;
}

.red {
    border-width: 20px;
    border-style: solid;
    border-color: brown;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    background: linear-gradient(red 50%, pink 50%)
}

.yellow {
    background-color: yellow;
    border-width: 20px;
    border-style: solid;
    border-color: #d7c11c;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.yellow-s {
    width: 100px;
    height: 100px;
    background-color: #f6eb93;
    margin-left: 100px;
    margin-top: 100px;
}

.green {
    background-color: green;
    border-width: 20px;
    border-style: solid;
    border-color: #0d5604;
    width: 200px;
    height: 200px;
}

.green-s {
    width: 100px;
    height: 100px;
    background-color: #cbf693;
    margin-top: 100px;
}